
.App {

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, auto);
    grid-template-areas: "logo" "title" "about" "beta" "sponsor" "copyright";
    grid-gap: 18px;
    justify-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-end: 3;
}

.logo > img {
    width: 80px;
    height: auto;
    border-radius: 6px;
}
.title {
    grid-area: title;
    color: white;
    font-weight: bold;
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 8;
}

.title > h1 {
    font-size: 4em;
    margin: 0;
}

.title > p {
    font-size: 1.5em;
    margin: 0;

}
.about {
    grid-area: about;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 20px;
    width: 50%;
    grid-row-start: 8;
    grid-row-end: 15;
}

.demo-button-container {
    display: flex;
    justify-content: center;
}

.beta {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row-end: 17;
    width: 50%;
}

.sponsor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-row-end: 20;
}
.sponsor-logo-container {
    display: flex;
    justify-content: center;
}

.sponsor-logo-container  > img {
    padding: 8px;
    background-color: rgba(255, 255, 255);
    border-radius: 6px;
    width: 40%;
    height: auto;
}

.copyright {
    grid-row-end: 21;
    color: white;
    padding: 20px;
}

.button {
    background-color: #0277bd;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    font-weight: bold;
    width: 100%;
}

.button-inverted {
    background-color: #fff;
    color: #0277bd;
}

/*
@media all and (-ms-high-contrast:none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
  }

}

 */
@media screen and (max-width: 1024px) {
    .about {
        width: 70%;
    }

    .beta {
        width: 70%;
    }
}
@media screen and (max-width: 480px) {
    .about {
        width: 100%;
    }

    .beta {
        width: 90%;
    }

    .beta {
        flex-direction: column;
    }

    .title > h1 {
        font-size: 3em;
    }

    .title > p {
        font-size: 1em;
    }

    .copyright {
   font-size: 12px;
    }
}